* {
  box-sizing: border-box;
}

h1 {
    color: magenta;
}

#question-number__input,
#question-submit__button {
    display: block;
    margin: 0.2rem;
}

.question-section {
    display: flex;
    flex-direction: column;
}

body {
  background: green;
}

.invisible {
  display: none;
}
