* {
  box-sizing: border-box;
}

h1 {
    color: #f36060;
}

#question-number__input,
#question-submit__button,
#user-answer,
#answer-submit__button {
    display: block;
    margin: 0.2rem;
}

textarea {
  width: 95vw;
  height: 220px;
}

.question-section,
.answer-section {
    display: flex;
    flex-direction: column;
}

body {
  background: #61f761;
}

.invisible {
  display: none;
}
